/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.navbar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 12px;
    margin-right: 12px;
    font-size: 15.63px;
    font-weight: 500;
}
li {
}

a:link, a:visited {
    padding: 12px;
    display: inline-block;
    color: var(--main-color);
    border-radius: 100px;
    text-decoration: none;
    font-weight: 500;
}

a:hover, a:active {

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    padding: 12px;
    margin-top: 12px;
    margin-left: 12px;
    align-items: center;
    gap: 12px;
}
.icon {
    height: 32px;
    width: 32px;
    display: inline-block;
    strok: var(--tint-color-lightest);
    padding: 2px;
    background-color: var(--main-color);
    border-radius: 100px;
    border-bottom-right-radius: 0;
}

h2 {
    font-size: 24.41px;
    font-weight: 700;
    letter-spacing: -1.1px;
}