.outer-container {
    background-color: var(--main-color);
    margin: 0 auto;
    color: white;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1em;
}
li {
    flex: 1 auto;
    text-align: center;
}
a:link {
    color: white;
}

a:hover {
    background-color: var(--accent-color);
}

a:visited {
    color: white;
}