.outer-container {
    display: flex;
    background-color: #45CB85;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: white;
}
ul {
    display: flex;
    gap: 30px;}
li {
}
a:link {
    color: white;
}

a:visited {
    color: white;
}