.form-element {
    flex: 1 auto;
    margin: 5px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 3em;
}

.status, .priority {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.status > input {
    flex: 1 auto;
    margin: 3px;
}
.submit-button {
    margin-top: 1.5em;
}