/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/



.header-container {
    margin: 128px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
}

.todos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    margin-top: 64px;
    gap: 16px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 64px;
}

h1 {
    font-weight: 700;
    letter-spacing: -1.5px;
    margin-bottom: 16px;
}

p {
    line-height: 1.5;
}

.todo {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 12px;
    box-shadow: 0 20px 30px 0 #ced4da;
    background-color: #a5d8ff;

}

li span {
    display: inline-block;
    margin-bottom: 12px;
}

span:first-of-type {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1px;
}

span:last-of-type {
    margin-bottom: 0;
}

.delete-button {
    border: none;
    border-radius: 100px;
    padding: 8px 16px;
    margin-top: 12px;
    background-color: var(--accent-color);
    font-weight: 500;
}
.todo-title {
    margin-bottom: 4px;
}

a:link.link, a:visited.link {
    padding: 0;
    margin-top: 16px;
    color: var(--gray-color)
}

.create-icon {
    width: 48px;
    height: 48px;
}

.create-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.illustration {
    width: 420px;
    height: 420px;
}