*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --main-color: #45CB85;
    --accent-color: #153131;

}

ul {
    list-style-type: none;
}
button {
    background-color: var(--accent-color);
    color: white;
    border-radius: 1em;
    padding: 1em;
}

.link {
    background-color: var(--main-color);
    border-style: ridge;
    border-width: 3px;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}

.container {
    display: flex;
    margin: auto;
    gap: 80px;
}

.delete-button {
    position: relative;
    left: 150px;
}