*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #1c7ed6;
    --tint-color-lightest: #e7f5ff;
    --tint-color-lighter: #d0ebff;
    --gray-color: #343a40;
    --accent-color: #DBC2CF;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--gray-color);
    background-image: linear-gradient(45deg, #f8f9fa, #dee2e6);
}